Nombre total de lignes <h2>{{datas.length}}
</h2>

<table border="1" style="width:100%">

  <tr>
    <th>id</th>
    <th>annonce_id</th>
    <th>date_jugement</th>
    <th>siren</th>
    <th>nic</th>
    <th>commentaires</th>
    <th>dep</th>
    <th>createdAt</th>
    <th>idMondataires</th>
  </tr>

  <tr *ngFor="let i of datas">
    <td>{{i.id}}</td>
    <td>{{i.annonce_id}}</td>
    <td>{{i.date_jugement| date}}</td>
    <td>{{i.siren}}</td>
    <td>{{i.nic}}</td>
    <td>{{i.commentaires}}</td>
    <td>{{i.dep}}</td>
    <td>{{i.created_at| date}}</td>
    <td><a [routerLink]="['/mandataire',j.id]" routerLinkActive="router-link-active"  *ngFor="let j of i.mandataires_tests">{{j.id}}<br></a></td>
  </tr>
</table>
